[submodule "third-party/etcpak"]
	path = third-party/etcpak
	url = https://github.com/aguerrieri82/etcpak
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib
[submodule "third-party/meshoptimizer"]
	path = third-party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "third-party/MagicPhysX"]
	path = third-party/MagicPhysX
	url = https://github.com/aguerrieri82/MagicPhysX
[submodule "third-party/filament"]
	path = third-party/filament
	url = https://github.com/aguerrieri82/filament
[submodule "third-party/openal-soft"]
	path = third-party/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "third-party/libjpeg-turbo"]
	path = third-party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "third-party/physx-rs"]
	path = third-party/physx-rs
	url = https://github.com/aguerrieri82/physx-rs
[submodule "third-party/oboe"]
	path = third-party/oboe
	url = https://github.com/google/oboe
[submodule "third-party/libtiff"]
	path = third-party/libtiff
	url = https://github.com/libsdl-org/libtiff
[submodule "third-party/glut"]
	path = third-party/glut
	url = https://github.com/markkilgard/glut
