[submodule "third-party/etcpak"]
	path = third-party/etcpak
	url = https://github.com/aguerrieri82/etcpak
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib
[submodule "third-party/meshoptimizer"]
	path = third-party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "third-party/MagicPhysX"]
	path = third-party/MagicPhysX
	url = https://github.com/aguerrieri82/MagicPhysX
[submodule "third-party/filament"]
	path = third-party/filament
	url = https://github.com/aguerrieri82/filament
[submodule "third-party/openal-soft"]
	path = third-party/openal-soft
	url = https://github.com/JogAmp/openal-soft/
[submodule "third-party/libjpeg-turbo"]
	path = third-party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
